.trends {
    display: flex;
}
   &__content {
    display: flex;
}
   &__title{
    font-family: 'Plumb', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #2E373B;
    margin-top: 75px;
}
   &__btn {
    font-family: 'Plumb', sans-serif;
    font-style: normal;
    font-weight: 500;
    display: flex;
    font-size: 21px;
    line-height: 130%;
    text-align: right;
    letter-spacing: -0.01em;
    text-decoration-line: underline;
    margin-top: 75px;
    margin-left: 450px;
}
   &__btn span {
    margin-right: 10px;
}
   &__container {
    margin-left: -450px;
    justify-content: space-between;
}
   &__container--two {
    margin-left: -450px;
    justify-content: space-between;
}